<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fancy Routes</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'fancy_routes', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <h1>Application Routes</h1>
  <table>
    <thead>
      <tr>
        <th>Prefix</th>
        <th>Verb</th>
        <th>Controller#Action</th>
      </tr>
    </thead>
    <tbody>
      <% @routes.each do |route| %>
        <tr>
          <td><%= route.name %></td>
          <td><%= route.verb %></td>
          <td><%= route.endpoint %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>

